.logo-1 {
    max-height: 15px;
}

.logo-2 {
    max-width: 60%;
    width: 30em;
}

body {
    padding-bottom: 100px;
}

h2 {
    text-align: center;
}

form {
    margin: auto;
}

input.form-control {
    margin-top: 1em;
}