.logo-1 {
    max-height: 15px;
}

.logo-2 {
    max-width: 60%;
    width: 30em;
}

body {
    padding-bottom: 100px;
}

h2 {
    text-align: center;
}

form {
    margin: auto;
}

input.form-control {
    margin-top: 1em;
}

label {
    font-weight: bold;
}

.card-title {
    font-size: 1.5em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.card-button {
    float: right;
    margin-right: 0.5em;
    margin-top: 0.4em;
}

.card-price {
    font-size: 2em;
    font-weight: bold;
    float: right;
    margin-right: 0.5em;
}