<footer class="d-flex mt-auto fixed-bottom">
    <div class="col py-3 mt-4 px-5 border-top text-center bg-light">
        <p class="mb-0 text-muted"><small>&copy;GameShop created by Javier Martínez Saltó for the 2021 Web Engineering and Services course</small></p>
    </div>
</footer>