<header class="pt-5 mb-4 bg-primary text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-5 text-center">
                <img class="logo-header" src="assets/img/game-shop-logo.svg" alt="GameShop Logo">
                <h1 class="display-4">Web Site</h1>
                <p class="lead">Game Shop Informational WebApp for Web Engineering and Services</p>
            </div>
        </div>
    </div>
</header>