<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="/" onclick="navigateTo(event, event.target.href)">
            <img class="logo-nav" src="assets/img/game-shop-logo.svg" alt="GameShop Logo">
        </a>

        <!-- Menu button (when menu is collapsed) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation bar -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
            <ul class="navbar-nav mb-2 mb-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="cartDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Cart {{#if user}}<span class="badge badge-secondary">0</span>{{/if}}
                    </a>
                    
                    <!-- Cart dropdown items -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-
                    labelledby="cartDropdown">
                        <li>
                            <a class="dropdown-item" href="cart" onclick="navigateTo(event, event.target.href)">View cart</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="purchase" onclick="navigateTo(event, event.target.href)">Checkout</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                    <!-- User dropdown items -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-
                    labelledby="userDropdown">
                        <li>
                            <a class="dropdown-item" href="signup" onclick="navigateTo(event, event.target.href)">Sign up</a>
                        </li>
                        
                        {{!-- Si user es falsy, muestra el li --}}
                        {{#unless user}}
                        <li>
                            <a class="dropdown-item" href="signin" onclick="navigateTo(event, event.target.href)">Sign in</a>
                        </li>
                        {{/unless}}

                        <li>
                            <a class="dropdown-item" href="profile" onclick="navigateTo(event, event.target.href)">View profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="/" onclick="navigateTo(event, event.target.href)">Sign out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>